APP_ENV=production
APP_DEBUG=false
CONTACT_SUCCESS_URL=/gracias/
CONTACT_ERROR_URL=/contacto/?error=validation

# Se completará cuando integremos Plunk.
PLUNK_API_KEY=
PLUNK_FROM=
PLUNK_NAME_FROM=
CONTACT_RECIPIENT=
